Repository basspj/notic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c .eslintrc, prettier --config .prettierrc --parser typescript --write, tslint -c tslint.json --fix, prettier --config .prettierrc --parser json --write

.lintstagedrc:

{
  "*.d.ts": [
    "eslint -c .eslintrc",
    "prettier --config .prettierrc --parser typescript --write",
    "git add"
  ],
  "*.ts{,x}": [
    "tslint -c tslint.json --fix",
    "eslint -c .eslintrc",
    "prettier --config .prettierrc --parser typescript --write",
    "git add"
  ],
  "*.js{,x}": ["git add"],
  "{*.json,.*rc}": [
    "prettier --config .prettierrc --parser json --write",
    "git add"
  ]
}

chore: config stylelint and styled-components
  .lintstagedrc
  .stylelintrc
  .vscode/extensions.json
  .vscode/settings.json
  tsconfig.json
Due: prettier --config .prettierrc --parser json --write

chore: add prettier badge in README.md
  README.md
Due: none

chore: change prettier badge style in README.md
  README.md
Due: none

chore: edit tslint.json
  tslint.json
Due: prettier --config .prettierrc --parser json --write

chore: edit tsconfig.json
  tsconfig.json
Due: prettier --config .prettierrc --parser json --write

chore: config stylint
  .stylelintrc
Due: prettier --config .prettierrc --parser json --write

chore: config eslint
  .eslintrc
Due: prettier --config .prettierrc --parser json --write

chore: config jest
  jest.e2e.json
  jest.json
  scripts/jest/setup.ts
  scripts/jest/shim.ts
Due: eslint -c .eslintrc, prettier --config .prettierrc --parser typescript --write, tslint -c tslint.json --fix, prettier --config .prettierrc --parser json --write

chore: add @types
  @types/detox/global.d.ts
  @types/detox/index.d.ts
  @types/rollup-plugin-alias/index.d.ts
  @types/rollup-plugin-commonjs/index.d.ts
  @types/rollup-plugin-node-resolve/index.d.ts
  @types/rollup-plugin-sourcemaps/index.d.ts
  @types/slash/index.d.ts
Due: eslint -c .eslintrc, prettier --config .prettierrc --parser typescript --write, tslint -c tslint.json --fix

chore: add script for copy project's @types to node_modules
  package.json
  scripts/postinstall/index.ts
  scripts/postinstall/tsconfig.json
Due: eslint -c .eslintrc, prettier --config .prettierrc --parser typescript --write, tslint -c tslint.json --fix, prettier --config .prettierrc --parser json --write

chore: add vscode workspace
  notic-mobile.code-workspace
Due: none

chore: config lint staged
  .lintstagedrc
Due: prettier --config .prettierrc --parser json --write

chore: update README.md
  README.md
Due: none

chore(app): config tsconfig
  packages/app/tsconfig.json
Due: prettier --config .prettierrc --parser json --write

chore(app): fix cannot import React as default
  packages/app/rn-cli.config.js
  packages/app/src/App.tsx
Due: eslint -c .eslintrc, prettier --config .prettierrc --parser typescript --write, tslint -c tslint.json --fix

Update README.md
  README.md
Due: none

chore: update lib in package.json
  package.json
  packages/app/package.json
Due: prettier --config .prettierrc --parser json --write

chore: add missing package-lock.json
  package-lock.json
  packages/app/package-lock.json
  packages/app/package.json
Due: prettier --config .prettierrc --parser json --write

chore: rename project
  README.md
Due: none

chore: ignore lerna-debug
  .gitignore
  lerna-debug.log
Due: none

chore: divide To-Do to shared, mobile, web
  README.md
Due: none

chore: fix wrong scope
  README.md
Due: none

chore: add npm client as yarn
  README.md
Due: none

chore: add @types/haul
  @types/haul/index.d.ts
Due: eslint -c .eslintrc, prettier --config .prettierrc --parser typescript --write, tslint -c tslint.json --fix

chore: remove unused @types/slash
  @types/slash/index.d.ts
Due: eslint -c .eslintrc, prettier --config .prettierrc --parser typescript --write, tslint -c tslint.json --fix

chore: extend tslint-react in tslint
  tslint.json
Due: prettier --config .prettierrc --parser json --write

chore: remove jsx in base tsconfig
  tsconfig.json
Due: prettier --config .prettierrc --parser json --write

chore: add env for mobile, web in babelrc
  .babelrc
Due: prettier --config .prettierrc --parser json --write

chore(mobile-app): config haul webpack
  mobile/app/webpack.haul.js
  mobile/app/webpack.haul.storybook.js
Due: none

chore: rename shared-themes to @mobile/themes
  mobile/app/package.json
  mobile/app/src/App.tsx
  mobile/shared-themes/package.json
Due: eslint -c .eslintrc, prettier --config .prettierrc --parser typescript --write, tslint -c tslint.json --fix, prettier --config .prettierrc --parser json --write

chore: config commitlint, cz-changelog
  .commitlintrc.json
  package.json
Due: prettier --config .prettierrc --parser json --write

chore: chore: use yarn as npm client
  .travis.yml
  lerna.json
  mobile/app/package-lock.json
  mobile/app/yarn.lock
  mobile/shared-themes/package-lock.json
  mobile/shared-themes/yarn.lock
  package-lock.json
Due: prettier --config .prettierrc --parser json --write

chore: separate jest config as mobile, web
  jest.mobile.json
  jest.web.json
Due: prettier --config .prettierrc --parser json --write

chore: use haul hot-reload as manual
  mobile/app/src/index.ts
Due: eslint -c .eslintrc, prettier --config .prettierrc --parser typescript --write, tslint -c tslint.json --fix

chore: edit babelrc env to align root babelrc
  mobile/app/.babelrc
  mobile/shared-themes/.babelrc
Due: prettier --config .prettierrc --parser json --write

chore: add jsx in tsconfig
  mobile/app/tsconfig.json
  mobile/shared-themes/tsconfig.json
Due: prettier --config .prettierrc --parser json --write

chore: remove unused file
  mobile/app/index.js
Due: none
