Repository basspj/notic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c .eslintrc, yarn prettier-ts -- --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc, yarn prettier-json -- --write

.lintstagedrc:

{
  "*.d.ts": ["eslint -c .eslintrc", "yarn prettier-ts -- --write", "git add"],
  "*.ts{,x}": [
    "tslint -c tslint.json --fix",
    "eslint -c .eslintrc",
    "stylelint -c .stylelintrc",
    "yarn prettier-ts -- --write",
    "git add"
  ],
  "{*.json,.*rc}": ["yarn prettier-json -- --write", "git add"]
}

chore: update jest, remove mapCoverage
  web/app/jest.json
  web/app/package.json
  web/app/yarn.lock
Due: yarn prettier-json -- --write

chore: add @types
  @types/node-dir/index.d.ts
  @types/tsconfig/index.d.ts
Due: eslint -c .eslintrc, yarn prettier-ts -- --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc

chore: add posttsc scripts
  shared/shared-themes/jest.json
  shared/shared-themes/package.json
  shared/shared-themes/scripts/posttsc/config.ts
  shared/shared-themes/scripts/posttsc/func.ts
  shared/shared-themes/scripts/posttsc/index.ts
  shared/shared-themes/scripts/posttsc/tsconfig.json
  shared/shared-themes/scripts/tsconfig.json
  shared/shared-themes/yarn.lock
Due: eslint -c .eslintrc, yarn prettier-ts -- --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc, yarn prettier-json -- --write

chore: update jest [remove mapCoverage]
  mobile/app/jest.json
  mobile/app/yarn.lock
Due: yarn prettier-json -- --write

chore: add types-update scripts, update jest [remove mapCoverage]
  mobile/home/jest.json
  mobile/home/package.json
  mobile/home/scripts/posttsc/config.ts
  mobile/home/scripts/posttsc/func.ts
  mobile/home/scripts/posttsc/index.ts
  mobile/home/scripts/posttsc/tsconfig.json
  mobile/home/scripts/tsconfig.json
  mobile/home/src/index.ts
  mobile/home/yarn.lock
  mobile/mobile-config/package.json
  mobile/mobile-config/scripts/posttsc/config.ts
  mobile/mobile-config/scripts/posttsc/func.ts
  mobile/mobile-config/scripts/posttsc/index.ts
  mobile/mobile-config/scripts/posttsc/tsconfig.json
  mobile/mobile-config/scripts/tsconfig.json
  mobile/mobile-config/yarn.lock
  mobile/mobile-themes/package.json
  mobile/mobile-themes/scripts/posttsc/config.ts
  mobile/mobile-themes/scripts/posttsc/func.ts
  mobile/mobile-themes/scripts/posttsc/index.ts
  mobile/mobile-themes/scripts/posttsc/tsconfig.json
  mobile/mobile-themes/scripts/tsconfig.json
  mobile/mobile-themes/yarn.lock
Due: eslint -c .eslintrc, yarn prettier-ts -- --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc, yarn prettier-json -- --write

chore: update example
  mobile/home/example/.babelrc
  mobile/home/example/package-lock.json
  mobile/home/example/package.json
  mobile/home/example/scripts/postinstall/index.ts
  mobile/home/example/scripts/tsconfig.json
  mobile/home/example/scripts/types/index.ts
  mobile/home/example/tsconfig.json
  mobile/home/example/webpack.haul.js
  mobile/home/example/webpack.haul.storybook.js
Due: eslint -c .eslintrc, yarn prettier-ts -- --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc, yarn prettier-json -- --write

chore: add type in rest arguments
  mobile/mobile-config/scripts/posttsc/func.ts
  mobile/mobile-themes/scripts/posttsc/func.ts
  shared/shared-themes/scripts/posttsc/func.ts
Due: eslint -c .eslintrc, yarn prettier-ts -- --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc

chore: add babel-jest in package.json
  mobile/app/package.json
  mobile/app/yarn.lock
  mobile/home/package.json
  mobile/home/yarn.lock
  shared/shared-themes/package.json
  web/app/package.json
  yarn.lock
Due: yarn prettier-json -- --write

chore: add yarn boot
  .travis.yml
Due: none

chore: remove exclude node_modules in source-map-loader to fix minify
  mobile/app/webpack.haul.js
  mobile/app/webpack.haul.storybook.js
  mobile/home/example/webpack.haul.js
  mobile/home/example/webpack.haul.storybook.js
Due: none

chore: remove explicit config haul, already implicit config
  mobile/app/package.json
  mobile/home/example/package.json
Due: yarn prettier-json -- --write

chore: remove unused extensions
  .vscode/extensions.json
Due: yarn prettier-json -- --write

chore: config vscode settings
  .vscode/settings.json
  notic-mobile.code-workspace
  notic-shared.code-workspace
  notic-web.code-workspace
Due: yarn prettier-json -- --write

fix: package.json to reduce vulnerabilities
  package.json
Due: yarn prettier-json -- --write

chore: disable tralling comma
  .eslintrc
  .prettierrc
  tslint.json
Due: yarn prettier-json -- --write

chore: add react-devtools script
  package.json
Due: yarn prettier-json -- --write

fix: mobile/app/.snyk & mobile/app/package.json to reduce vulnerabilities
  mobile/app/.snyk
  mobile/app/package.json
Due: yarn prettier-json -- --write

fix: mobile/app/package.json to reduce vulnerabilities
  mobile/app/package.json
Due: yarn prettier-json -- --write

feat: init project
  .commitlintrc.json
  .eslintignore
  .eslintrc
  .gitattributes
  .gitignore
  .prettierignore
  .prettierrc
  package.json
  tsconfig.json
  yarn.lock
Due: yarn prettier-json -- --write

feat: add lerna
  lerna.json
  package.json
Due: yarn prettier-json -- --write

feat: add eslint for react-native
  package.json
Due: yarn prettier-json -- --write

feat: update yarn.lock
  yarn.lock
Due: none

update library
  package.json
  packages/app/package.json
Due: yarn prettier-json -- --write

update yarn.lock
  yarn.lock
Due: none

update react-native 0.60
  .eslintrc
  .eslintrc.js
  package.json
  packages/app/.flowconfig
  packages/app/.gitignore
  packages/app/App.js
  packages/app/android/.project
  packages/app/android/.settings/org.eclipse.buildship.core.prefs
  packages/app/android/app/.classpath
  packages/app/android/app/.project
  packages/app/android/app/.settings/org.eclipse.buildship.core.prefs
  packages/app/android/app/build.gradle
  packages/app/android/app/proguard-rules.pro
  packages/app/android/app/src/main/java/com/notic/MainApplication.java
  packages/app/android/app/src/main/res/values/styles.xml
  packages/app/android/build.gradle
  packages/app/android/gradle.properties
  packages/app/android/gradle/wrapper/gradle-wrapper.jar
  packages/app/android/gradle/wrapper/gradle-wrapper.properties
  packages/app/android/gradlew
  packages/app/android/gradlew.bat
  packages/app/android/keystores/BUCK
  packages/app/android/keystores/debug.keystore.properties
  packages/app/android/settings.gradle
  packages/app/ios/Notic-tvOS/Info.plist
  packages/app/ios/Notic.xcodeproj/project.pbxproj
  packages/app/ios/Notic.xcworkspace/contents.xcworkspacedata
  packages/app/ios/Notic/Info.plist
  packages/app/ios/Podfile
  packages/app/ios/Podfile.lock
  yarn.lock
Due: yarn prettier-json -- --write

enable typescript
  package.json
  packages/app/App.tsx
  packages/app/tsconfig.json
  yarn.lock
Due: eslint -c .eslintrc, yarn prettier-ts -- --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc, yarn prettier-json -- --write

refresh README.md
  README.md
Due: none

use react-native 0.60.4
  packages/app/App.js
  packages/app/android/.project
  packages/app/android/.settings/org.eclipse.buildship.core.prefs
  packages/app/android/app/.classpath
  packages/app/android/app/.project
  packages/app/android/app/.settings/org.eclipse.buildship.core.prefs
  packages/app/android/app/build.gradle
  packages/app/android/app/src/main/java/com/notic/MainApplication.java
  packages/app/ios/Notic.xcodeproj/project.pbxproj
  packages/app/ios/Podfile.lock
  packages/app/package.json
  yarn.lock
Due: yarn prettier-json -- --write

use @types/react-native 0.60.2
  package.json
Due: yarn prettier-json -- --write

use typescript
  packages/app/index.js
  packages/app/src/App.tsx
  packages/app/src/index.ts
Due: eslint -c .eslintrc, yarn prettier-ts -- --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc

format file
  packages/app/tsconfig.json
Due: yarn prettier-json -- --write
