Repository basspj/notic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c .eslintrc, yarn prettier-ts -- --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc, yarn prettier-json -- --write

.lintstagedrc:

{
  "*.d.ts": ["eslint -c .eslintrc", "yarn prettier-ts -- --write", "git add"],
  "*.ts{,x}": [
    "tslint -c tslint.json --fix",
    "eslint -c .eslintrc",
    "stylelint -c .stylelintrc",
    "yarn prettier-ts -- --write",
    "git add"
  ],
  "{*.json,.*rc}": ["yarn prettier-json -- --write", "git add"]
}

chore: config stylelint
  .stylelintrc
Due: yarn prettier-json -- --write

chore: remove recommend
  notic-mobile.code-workspace
  notic-shared.code-workspace
  notic-web.code-workspace
Due: none

chore: change regex
  jest.mobile.json
  jest.shared.json
  jest.web.json
Due: yarn prettier-json -- --write

chore: config tslint
  tslint.json
Due: yarn prettier-json -- --write

chore: config eslint
  .eslintrc
Due: yarn prettier-json -- --write

chore: add @types
  @types/png/index.d.ts
  @types/rollup-plugin-babel/index.d.ts
  @types/rollup-plugin-json/index.d.ts
  @types/rollup-plugin-typescript2/index.d.ts
Due: eslint -c .eslintrc, yarn prettier-ts -- --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc

chore: update rollup
  shared/shared-themes/package.json
  shared/shared-themes/rollup.config.ts
Due: eslint -c .eslintrc, yarn prettier-ts -- --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc, yarn prettier-json -- --write

chore: use packages's devDependencies via root instead
  package.json
  yarn.lock
Due: yarn prettier-json -- --write

chore: config tsconfig
  tsconfig.json
Due: yarn prettier-json -- --write

chore: update README.md
  README.md
Due: none

fix: package.json & .snyk to reduce vulnerabilities
  .snyk
  package.json
Due: yarn prettier-json -- --write

chore: edit prettier option
  package.json
Due: yarn prettier-json -- --write

chore: update yarn.lock
  yarn.lock
Due: none

chore: remove unused files
  screenshot/web/client/iPhone 6.png
  web/server/src/index.ts
Due: eslint -c .eslintrc, yarn prettier-ts -- --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc

chore: add screenshot
  web/app/screenshot/iPhone 6.png
Due: none

chore: ignore rollup-plugin-typescript2 cache
  .gitignore
Due: none

chore: delete unused file
  jest.web.json
Due: yarn prettier-json -- --write

chore: fix tslint's scripts
  package.json
Due: yarn prettier-json -- --write

chore: remove unused file
  .babelrc
Due: yarn prettier-json -- --write

chore: config mobile app
  mobile/app/.babelrc
  mobile/app/android/build.gradle
  mobile/app/ios/notic/AppDelegate.m
Due: yarn prettier-json -- --write

chore: remove unused codes
  mobile/home/.babelrc
  mobile/mobile-themes/.babelrc
  shared/shared-themes/.babelrc
  web/app/.babelrc
Due: yarn prettier-json -- --write

chore: use DEBUG condition
  mobile/app/ios/notic/AppDelegate.m
Due: none

chore: refactor
  mobile/mobile-config/src/EnvConfig/Babel/Env/key.ts
  shared/shared-themes/src/themes/key.ts
  shared/shared-themes/src/typos/LanguageCategories/Categories/key.ts
  shared/shared-themes/src/typos/LanguageCategories/Locale/key.ts
  shared/shared-themes/src/typos/Styles/key.ts
Due: eslint -c .eslintrc, yarn prettier-ts -- --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc

chore: edit vscode recommended extensions
  .vscode/extensions.json
Due: yarn prettier-json -- --write

chore: fix scripts for storybook
  mobile/app/package.json
  mobile/home/example/package.json
Due: yarn prettier-json -- --write

chore: config vscode settings
  .vscode/settings.json
  notic-mobile.code-workspace
  notic-shared.code-workspace
  notic-web.code-workspace
Due: yarn prettier-json -- --write

chore: ignore Pods
  .gitignore
Due: none

chore: update babel compile steps
  mobile/home/.babelrc
  mobile/home/package.json
Due: yarn prettier-json -- --write

chore: update example
  mobile/home/example/android/app/build.gradle
  mobile/home/example/android/build.gradle
  mobile/home/example/ios/Podfile
  mobile/home/example/ios/Podfile.lock
  mobile/home/example/ios/example.xcodeproj/project.pbxproj
  mobile/home/example/ios/example.xcworkspace/contents.xcworkspacedata
  mobile/home/example/ios/example/AppDelegate.m
  mobile/home/example/package-lock.json
Due: yarn prettier-json -- --write

chore: fix map path
  mobile/home/.babelrc
Due: yarn prettier-json -- --write

chore: update lib version
  package.json
  yarn.lock
Due: yarn prettier-json -- --write

chore: update lib version
  shared/shared-themes/package.json
  shared/shared-themes/yarn.lock
Due: yarn prettier-json -- --write

chore: update lib version
  mobile/app/ios/Podfile
  mobile/app/ios/Podfile.lock
  mobile/app/ios/notic.xcodeproj/project.pbxproj
  mobile/app/ios/notic.xcworkspace/contents.xcworkspacedata
  mobile/app/ios/notic/Images.xcassets/Contents.json
  mobile/app/package.json
  mobile/app/yarn.lock
  mobile/home/example/package.json
  mobile/home/package.json
  mobile/home/yarn.lock
  mobile/mobile-config/package.json
  mobile/mobile-config/yarn.lock
  mobile/mobile-themes/package.json
  mobile/mobile-themes/yarn.lock
Due: yarn prettier-json -- --write

chore: rename webpack to config, update lib version
  web/app/config/env.js
  web/app/config/paths.js
  web/app/config/polyfills.js
  web/app/config/webpack.config.dev.js
  web/app/config/webpack.config.prod.js
  web/app/config/webpackDevServer.config.js
  web/app/package.json
  web/app/screenshot/iPhone 6.png
  web/app/scripts/build.ts
  web/app/scripts/dev.ts
  web/app/yarn.lock
Due: eslint -c .eslintrc, yarn prettier-ts -- --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc, yarn prettier-json -- --write

chore: use yarn in scripts
  package.json
Due: yarn prettier-json -- --write

chore: use headless, remove slowMo
  web/app/e2e/firstTest.spec.ts
Due: eslint -c .eslintrc, yarn prettier-ts -- --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc

chore: add types-update scripts, update lib version
  package.json
  scripts/types/index.ts
  yarn.lock
Due: eslint -c .eslintrc, yarn prettier-ts -- --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc, yarn prettier-json -- --write
