Repository basspj/notic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c .eslintrc, prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser typescript --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc, prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser json --write

chore: add dependency ci in README.md
  README.md
Due: none

chore: add license
  mobile/app/package.json
  mobile/shared-themes/package.json
  web/client/package.json
  web/server/package.json
Due: prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser json --write

update align in README.md
  README.md
Due: none

add snyk in README.md
  README.md
Due: none

chore: remove snyk build.gradle
  README.md
Due: none

chore: add codefactor in README.md
  README.md
Due: none

chore: add better code hub in README.md
  README.md
Due: none

chore: update lib version
  mobile/app/package.json
  mobile/app/yarn.lock
  package.json
  web/client/package.json
  web/client/yarn.lock
  yarn.lock
Due: prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser json --write

chore: rename script for rn-version
  mobile/app/package.json
Due: prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser json --write

chore: add script for lerna publish
  package.json
Due: prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser json --write

chore: fix incorrect lerna argument
  package.json
Due: prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser json --write

chore: remove version in root package.json
  package.json
Due: prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser json --write

chore: add script for lerna
  package.json
Due: prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser json --write

chore: config eslint and tslint - set max line length
  .eslintrc
  tslint.json
Due: prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser json --write

chore: config editorconfig - set max line length
  .editorconfig
Due: none

chore: change max-line-length
  .editorconfig
  .eslintrc
  tslint.json
Due: prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser json --write

chore: use prettier alias in lintstaged
  .lintstagedrc
Due: prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser json --write

chore: format code with prettier
  web/client/e2e/firstTest.spec.ts
  web/client/scripts/build.ts
  web/client/scripts/dev.ts
  web/client/src/registerServiceWorker.ts
Due: eslint -c .eslintrc, prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser typescript --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc

chore: edit stylelint
  .stylelintrc
Due: prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser json --write

chore: format code with prettier
  web/client/stories/index.tsx
Due: eslint -c .eslintrc, prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser typescript --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc

chore: refactor metrics
  shared/shared-themes/src/metrics/Fitting/Fit.ts
  shared/shared-themes/src/metrics/Fitting/key.ts
  shared/shared-themes/src/metrics/FluidSizing/Fit.ts
  shared/shared-themes/src/metrics/FluidSizing/index.ts
  shared/shared-themes/src/metrics/index.ts
Due: eslint -c .eslintrc, prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser typescript --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc

chore: fix import not found module
  shared/shared-themes/src/metrics/FluidSizing/index.ts
Due: eslint -c .eslintrc, prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser typescript --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc

chore: refactor scripts
  package.json
  scripts/tsconfig.json
Due: prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser json --write

chore: update lib version
  mobile/app/package.json
  mobile/mobile-themes/package.json
  shared/shared-themes/package.json
  web/client/package.json
Due: prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser json --write

chore: add README.md in packages
  README.md
  mobile/app/README.md
  web/client/README.md
Due: none

chore: fix extend path in scripts's tsconfig.json
  scripts/tsconfig.json
Due: prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser json --write

chore: add yarn.lock, fixed regression version
  mobile/app/yarn.lock
  mobile/mobile-themes/yarn.lock
  shared/shared-themes/package.json
  shared/shared-themes/yarn.lock
Due: prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser json --write

chore: fix registerComponent with result of function
  mobile/app/src/index.ts
Due: eslint -c .eslintrc, prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser typescript --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc

chore: change background color
  mobile/app/src/App.tsx
Due: eslint -c .eslintrc, prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser typescript --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc

chore: edit bundle scripts, prepare signing config
  mobile/app/android/app/build.gradle
  mobile/app/android/gradle.properties
  mobile/app/package.json
Due: prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser json --write

chore: rename script - storybook to story
  mobile/mobile-themes/package.json
  shared/shared-themes/package.json
Due: prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser json --write

chore: update lib version
  mobile/app/yarn.lock
  mobile/mobile-themes/yarn.lock
  shared/shared-themes/yarn.lock
Due: none

chore: remove exclude libs in bundle
  shared/shared-themes/rollup.config.ts
Due: eslint -c .eslintrc, prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser typescript --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc

chore: update lib version
  package.json
  yarn.lock
Due: prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser json --write

chore: edit vscode-workspace config
  notic-mobile.code-workspace
  notic-shared.code-workspace
  notic-web.code-workspace
Due: none

chore: update recommend, add settings
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser json --write

chore: log message after running script
  scripts/postinstall/index.ts
Due: eslint -c .eslintrc, prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser typescript --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc

chore: add missing types
  shared/shared-themes/src/material/Elevation/index.ts
  shared/shared-themes/src/material/Properties/index.ts
  shared/shared-themes/src/metrics/AspectRatio/index.ts
  shared/shared-themes/src/metrics/Metrics/index.ts
  shared/shared-themes/src/metrics/Touches/index.ts
  shared/shared-themes/src/themes/type.ts
  shared/shared-themes/src/typos/Colors/index.ts
  shared/shared-themes/src/typos/Styles/index.ts
  shared/shared-themes/src/typos/Tracking/index.ts
  shared/shared-themes/src/typos/Typefaces/index.ts
  shared/shared-themes/src/typos/index.ts
Due: eslint -c .eslintrc, prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser typescript --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc

Path conditions:
  eslint -c .eslintrc: (any of: *.d.ts) or (any of: *.ts{,x})
  prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser typescript --write: (any of: *.d.ts) or (any of: *.ts{,x})
  tslint -c tslint.json --fix: any of: *.ts{,x}
  stylelint -c .stylelintrc: any of: *.ts{,x}
  prettier-eslint --config .prettierrc --eslint-config-path .eslintrc --parser json --write: any of: {*.json,.*rc}
