Repository basspj/notic: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json --fix, prettier --config .prettierrc --parser typescript --write, prettier --config .prettierrc --write, prettier --config .prettierrc --parser json --write

chore: add @types for json and enzyme adapter react 16
  @types/enzyme-adapter-react-16/index.d.ts
  @types/json/index.d.ts
Due: none

chore: config android version
  android/app/build.gradle
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
Due: none

chore: remove yarn.lock
  yarn.lock
Due: none

chore: apply react-native-typescript-transformer
  rn-cli.config.js
Due: prettier --config .prettierrc --write

chore: update lintstage
  .lintstagedrc
Due: prettier --config .prettierrc --parser json --write

chore: add coverage
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/App.tsx.html
  coverage/lcov-report/base.css
  coverage/lcov-report/index.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov.info
Due: prettier --config .prettierrc --write, prettier --config .prettierrc --parser json --write

chore: add vscode extensions
  .vscode/extensions.json
Due: prettier --config .prettierrc --parser json --write

chore: update README.md
  README.md
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/App.tsx.html
  coverage/lcov-report/index.html
  coverage/lcov.info
Due: prettier --config .prettierrc --parser json --write

chore: use rimraf instead of shx, add storybook dependency
  package-lock.json
  package.json
  yarn.lock
Due: prettier --config .prettierrc --parser json --write

chore: update .gitignore
  .gitignore
Due: none

chore: untracked coverage
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/App.tsx.html
  coverage/lcov-report/base.css
  coverage/lcov-report/index.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov.info
Due: prettier --config .prettierrc --write, prettier --config .prettierrc --parser json --write

chore: add storybook
  @types/storybook__react-native/index.d.ts
  package-lock.json
  package.json
  storybook/addons.ts
  storybook/index.ts
  storybook/stories/Button/index.tsx
  storybook/stories/CenterView/index.tsx
  storybook/stories/CenterView/style.tsx
  storybook/stories/Welcome/index.tsx
  storybook/stories/index.tsx
  storybook/storybook.ts
  tslint.json
Due: prettier --config .prettierrc --parser json --write

chore: add detox
  .babelrc
  .vscode/settings.json
  @types/detox/global.d.ts
  @types/detox/index.d.ts
  README.md
  e2e/ids.ts
  e2e/init.ts
  e2e/tests/firstTest.spec.ts
  jest.e2e.json
  jest.json
  package-lock.json
  package.json
  scripts/jest/enzyme/setup.ts
  scripts/jest/enzyme/shim.ts
  src/App.tsx
  src/index.ts
  tsconfig.json
Due: prettier --config .prettierrc --parser json --write

chore: update README.md
  README.md
Due: none

chore: set ios deployment target as 11
  ios/notic.xcodeproj/project.pbxproj
Due: none

chore: add travis ci
  .travis.yml
  package.json
Due: prettier --config .prettierrc --parser json --write

chore: add travis badge in README.md
  README.md
Due: none

chore: add codecov
  .travis.yml
  package-lock.json
  package.json
Due: prettier --config .prettierrc --parser json --write

chore: edit jest config
  package.json
Due: prettier --config .prettierrc --parser json --write

chore: add codecov badge
  README.md
Due: none

chore: checked Codecov
  README.md
Due: none

chore: add style task
  README.md
Due: none

chore: add design task
  README.md
Due: none

chore: add design tasks
  README.md
Due: none

chore: include more folders in tsconfig.json
  tsconfig.json
Due: prettier --config .prettierrc --parser json --write

chore: edit tslint
  tslint.json
Due: prettier --config .prettierrc --parser json --write

chore: update detox typing
  @types/detox/index.d.ts
Due: none

chore: add eslint
  .eslintignore
  .eslintrc
  package-lock.json
  package.json
Due: prettier --config .prettierrc --parser json --write

chore: config eslint in vscode's settings
  .vscode/settings.json
Due: prettier --config .prettierrc --parser json --write

chore: apply eslint in lintstage
  .lintstagedrc
Due: prettier --config .prettierrc --parser json --write

chore: edit code to pass linting
  src/App.tsx
  storybook/stories/Welcome/index.tsx
Due: none

chore: edit code to pass linting
  src/App.tsx
Due: none

chore: update package.json scripts
  package.json
Due: prettier --config .prettierrc --parser json --write

chore: update vscode extensions
  .vscode/extensions.json
Due: prettier --config .prettierrc --parser json --write

chore: update lib
  package-lock.json
  package.json
Due: prettier --config .prettierrc --parser json --write

Update README.md
  README.md
Due: none

add styelint to linting
  README.md
Due: none

chore: update package.json
  package-lock.json
  package.json
Due: prettier --config .prettierrc --parser json --write

Path conditions:
  tslint -c tslint.json --fix: any of: {packages/**,scripts}/*.ts{,x}
  prettier --config .prettierrc --parser typescript --write: any of: {packages/**,scripts}/*.ts{,x}
  prettier --config .prettierrc --write: any of: **/*.js{,x}
  prettier --config .prettierrc --parser json --write: any of: {*.json,.*rc}
