Repository basspj/notic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c .eslintrc, prettier --config .prettierrc --parser typescript --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc, prettier --config .prettierrc --parser json --write

chore: test mobile only
  package.json
Due: prettier --config .prettierrc --parser json --write

chore: checked yarn as npm client
  README.md
Due: none

chore: add newline in README.md
  README.md
Due: none

chore: edit headline in README.md
  README.md
Due: none

chore: use webpack.haul as .ts file
  mobile/app/package.json
  mobile/app/webpack.haul.storybook.ts
  mobile/app/webpack.haul.ts
Due: eslint -c .eslintrc, prettier --config .prettierrc --parser typescript --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc, prettier --config .prettierrc --parser json --write

chore: config eslint
  .eslintrc
Due: prettier --config .prettierrc --parser json --write

chore: remove unused code
  mobile/app/android/app/build.gradle
  mobile/app/android/app/src/main/AndroidManifest.xml
Due: none

chore: update gradle version
  mobile/app/android/build.gradle
Due: none

chore: fix webpack.haul, add run app via rn-cli
  mobile/app/package.json
  mobile/app/webpack.haul.js
  mobile/app/webpack.haul.storybook.js
Due: prettier --config .prettierrc --parser json --write

chore: change map path to refer ~ as project's root
  mobile/app/.babelrc
  mobile/app/.vscode/settings.json
  mobile/app/e2e/tests/firstTest.spec.ts
  mobile/app/package.json
  mobile/app/tests/App.test.tsx
  mobile/app/tsconfig.json
  mobile/app/webpack.haul.js
  mobile/app/webpack.haul.storybook.js
  mobile/shared-themes/.babelrc
  mobile/shared-themes/.vscode/settings.json
  mobile/shared-themes/src/colors/Colors.ts
  mobile/shared-themes/src/typos/Colors/Themes/TypoDark.ts
  mobile/shared-themes/src/typos/Colors/Themes/TypoLight.ts
  mobile/shared-themes/src/typos/Colors/TypoColors.ts
  mobile/shared-themes/src/typos/LanguageCategories/Categories/Dense.ts
  mobile/shared-themes/src/typos/LanguageCategories/Categories/English.ts
  mobile/shared-themes/src/typos/LanguageCategories/Categories/Tall.ts
  mobile/shared-themes/src/typos/LanguageCategories/LanguageCategories.ts
  mobile/shared-themes/src/typos/LanguageCategories/type.ts
  mobile/shared-themes/tests/Themes.test.ts
  mobile/shared-themes/tsconfig.json
Due: eslint -c .eslintrc, prettier --config .prettierrc --parser typescript --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc, prettier --config .prettierrc --parser json --write

chore: fix alias in rollup.config
  mobile/shared-themes/rollup.config.ts
Due: eslint -c .eslintrc, prettier --config .prettierrc --parser typescript --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc

chore: add lint loader
  mobile/app/package.json
  mobile/app/webpack.haul.js
  mobile/app/webpack.haul.storybook.js
  mobile/app/yarn.lock
Due: prettier --config .prettierrc --parser json --write

chore: add stylint-loader
  mobile/app/package.json
  mobile/app/webpack.haul.js
  mobile/app/webpack.haul.storybook.js
  mobile/app/yarn.lock
  mobile/shared-themes/yarn.lock
Due: prettier --config .prettierrc --parser json --write

chore: update lib version
  mobile/app/package.json
  mobile/app/yarn.lock
  mobile/shared-themes/package.json
  mobile/shared-themes/yarn.lock
Due: prettier --config .prettierrc --parser json --write

chore: update lib version, config commitlint as config-conventional
  package.json
  yarn.lock
Due: prettier --config .prettierrc --parser json --write

chore: config commitlint as config-conventional
  .commitlintrc.json
Due: prettier --config .prettierrc --parser json --write

chore: config tslint
  tslint.json
Due: prettier --config .prettierrc --parser json --write

chore: init web/client with TypeScript-React-Starter and storybook
  @types/dom/index.d.ts
  @types/fs/index.d.ts
  @types/postcss-flexbugs-fixes/index.d.ts
  @types/react-dev-utils/index.d.ts
  @types/storybook__react__demo/index.d.ts
  @types/svg/index.d.ts
  @types/sw-precache-webpack-plugin/index.d.ts
  notic-web.code-workspace
  web/client/.babelrc
  web/client/.storybook/config.js
  web/client/.storybook/webpack.config.js
  web/client/.vscode/settings.json
  web/client/package.json
  web/client/public/favicon.ico
  web/client/public/index.html
  web/client/public/manifest.json
  web/client/scripts/build.ts
  web/client/scripts/dev.ts
  web/client/scripts/tsconfig.json
  web/client/src/App.css
  web/client/src/App.test.tsx
  web/client/src/App.tsx
  web/client/src/index.css
  web/client/src/index.tsx
  web/client/src/logo.svg
  web/client/src/registerServiceWorker.ts
  web/client/stories/index.tsx
  web/client/tsconfig.json
  web/client/webpack/env.js
  web/client/webpack/paths.js
  web/client/webpack/polyfills.js
  web/client/webpack/webpack.config.dev.js
  web/client/webpack/webpack.config.prod.js
  web/client/webpack/webpackDevServer.config.js
  web/client/yarn.lock
  web/server/.babelrc
  web/server/.vscode/settings.json
  web/server/package.json
  web/server/src/index.ts
  web/server/tsconfig.json
Due: eslint -c .eslintrc, prettier --config .prettierrc --parser typescript --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc, prettier --config .prettierrc --parser json --write

chore: checked React, Webpack
  README.md
Due: none

chore: use interface for WelcomeText instead of Container
  mobile/app/src/App.tsx
Due: eslint -c .eslintrc, prettier --config .prettierrc --parser typescript --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc

chore: use styled-components, remove unused code
  @types/fs/index.d.ts
  @types/postcss-flexbugs-fixes/index.d.ts
  @types/sw-precache-webpack-plugin/index.d.ts
  web/client/.babelrc
  web/client/package.json
  web/client/public/logo.svg
  web/client/src/App.css
  web/client/src/App.test.tsx
  web/client/src/App.tsx
  web/client/src/index.css
  web/client/src/index.tsx
  web/client/src/registerServiceWorker.ts
  web/client/tests/App.test.tsx
  web/client/webpack/paths.js
  web/client/webpack/webpack.config.dev.js
  web/client/webpack/webpack.config.prod.js
  web/client/yarn.lock
Due: eslint -c .eslintrc, prettier --config .prettierrc --parser typescript --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc, prettier --config .prettierrc --parser json --write

chore: add test-web and merge coverage for mobile, web
  .babelrc
  jest.mobile.json
  jest.web.json
  package.json
  scripts/jest/transform/fileTransform.js
  tsconfig.json
  yarn.lock
Due: prettier --config .prettierrc --parser json --write

chore: use SyntheticDefaultImports
  web/client/src/index.tsx
  web/client/src/registerServiceWorker.ts
Due: eslint -c .eslintrc, prettier --config .prettierrc --parser typescript --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc

chore: fix quote in jsx
  web/client/src/App.tsx
Due: eslint -c .eslintrc, prettier --config .prettierrc --parser typescript --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc

chore: use prettier-eslint-cli instead of prettier
  .lintstagedrc
  package.json
  yarn.lock
Due: prettier --config .prettierrc --parser json --write

chore: add missing @types
  package.json
  yarn.lock
Due: prettier --config .prettierrc --parser json --write

chore: update yarn.lock
  yarn.lock
Due: none

chore: add puppeteer as e2e for web
  jest.web.json
  package.json
  screenshot/web/client/iPhone 6.png
  scripts/jest/setup.ts
  web/client/e2e/firstTest.spec.ts
  web/client/e2e/utils.ts
  web/client/package.json
  web/client/tsconfig.json
  web/client/yarn.lock
  yarn.lock
Due: eslint -c .eslintrc, prettier --config .prettierrc --parser typescript --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc, prettier --config .prettierrc --parser json --write

chore: add puppeteer in Web's Test
  README.md
Due: none

chore: add chrome in travis
  .travis.yml
Due: none

chore: launch puppeteer with --no-sandbox
  web/client/e2e/firstTest.spec.ts
Due: eslint -c .eslintrc, prettier --config .prettierrc --parser typescript --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc

chore: use puppeteer's travis config
  .travis.yml
Due: none

chore: add more timeout at web/e2e
  web/client/e2e/firstTest.spec.ts
Due: eslint -c .eslintrc, prettier --config .prettierrc --parser typescript --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc

refactor: refactor mobile/e2e
  mobile/app/e2e/init.ts
  mobile/app/e2e/setup.ts
  mobile/app/e2e/tests/firstTest.spec.ts
  mobile/app/package.json
Due: eslint -c .eslintrc, prettier --config .prettierrc --parser typescript --write, tslint -c tslint.json --fix, stylelint -c .stylelintrc, prettier --config .prettierrc --parser json --write

chore: update lib version
  mobile/app/package.json
  mobile/app/yarn.lock
  package.json
  web/client/package.json
  web/client/yarn.lock
  yarn.lock
Due: prettier --config .prettierrc --parser json --write

chore: fix detox@6 breaking changes
  mobile/app/jest.e2e.json
  mobile/app/package.json
Due: prettier --config .prettierrc --parser json --write

chore: add scripts for android-emu, ios-sim and update lib version
  mobile/app/package.json
  mobile/app/yarn.lock
  yarn.lock
Due: prettier --config .prettierrc --parser json --write

Path conditions:
  eslint -c .eslintrc: (any of: *.d.ts) or (any of: *.ts{,x})
  prettier --config .prettierrc --parser typescript --write: (any of: *.d.ts) or (any of: *.ts{,x})
  tslint -c tslint.json --fix: any of: *.ts{,x}
  stylelint -c .stylelintrc: any of: *.ts{,x}
  prettier --config .prettierrc --parser json --write: any of: {*.json,.*rc}
